.topbar {
        display: flex;
        background-color: #000000;
        font-family: "돋움";
        text-decoration: white;
      }

#topbar__logo {
        font-family: 'Permanent Marker', cursive;
        font-size: 40px;
        padding: 10px;
        }

.topbar a { 
          text-align: center;
          padding: 10px;
          text-decoration: none;
          font-size: 15px;
          border-radius: 4px;
        }


.topbar__mypage { 
        display: flex;
        justify-content: flex-end;
        }        